* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

i {
    // 點不到這個icon (勾勾/垃圾桶)
    pointer-events: none;
}

body {
    // 顏色漸層
    // background: linear-gradient(90deg, rgb(84, 130, 255), rgb(100, 255, 134));
    background: url('../images/208577.jpg')center center/cover;
    background-attachment: fixed;
}

header {
    height: 20vh;
    // 用flex-box文字置中
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        color: rgb(255, 255, 255);
        font-size: 3rem;
    }
}

form {
    // 置中
    display: flex;
    justify-content: center;
    align-items: center;

    input, button {
        border: none;
        padding: 0.25rem 0.5rem;
        font-size: 1.75rem;
        margin: 0.1rem;
    }
    
    input[type="number"] {
        // 設定月/日的寬度
        width: 50px;
        text-align: center;
    }

    // 把上下選擇的按鈕去掉，不用記，要用再查就好
      /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    /* Firefox */
    input[type="number"] {
    -moz-appearance: textfield;
    }

    button {
        // 讓滑鼠移上去可以改游標方式使User知道這是可以點擊的
        cursor: pointer;
        background-color: rgb(0, 146, 114);
        color: white;
    }
}

section {
    // 置中
    display: flex;
    // 直式的
    flex-direction: column;
    align-items: center;

    div.todo {
        width: 30vw;
        // 讓代辦事項跟日期是橫的
        display: flex;
        align-items: center;
        margin: 0.2rem 0rem;

        p {
            background-color: white;
            color: black;
            // padding: 0.25rem 0.5rem;
            font-size: 1.75rem;
        }

        p.todo-text {
            width: 50%;
        }
        p.todo-time {
            width: 20%;
            text-align: center;
        }

        button {
            padding: 0.25rem 0.5rem;
            font-size: 1.75rem;
            border: none;
            cursor: pointer;
            color: white;
        }

        button.complete {
            background-color: green;
        }
        button.trash {
            background-color: red;
        }
    }
}

div.sort {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0rem;
    
    button {
        cursor: pointer;
        background-color: rgb(0, 146, 114);
        color: white;
        border: none;
        padding: 0.25rem 0.5rem;
        font-size: 1.75rem;
    }
}

// 備忘錄勾勾
.done {
    opacity: 0.5;
    // 一條槓
    text-decoration: line-through;
    // 槓的粗度
    text-decoration-thickness: 0.2rem;
}

// 讓備忘錄慢慢出現而不是突然出現
@keyframes scaleUp {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

// 讓備忘錄慢慢消失而不是突然消失
@keyframes scaleDown {
    to {
        transform: scale(0);
    }
}